	[Ll]ibrary/
	[Tt]emp/
	[Oo]bj/
	[Bb]uild/
	[Bb]uilds/
	[Ll]ogs/
	[Mm]emoryCaptures/

	UserSettings/EditorUserSettings.asset

	.DS_Store
	Thumbs.db

	*.bak
	*.swp
	*.swo
	*.tmp
	*.pidb
	*.sln*
	*.csproj
	*.unityproj
	*.asset.meta

	Packages/com.unity.package-manager-do-not-use/